<div class="content">
    <mat-sidenav-container class="content-wrapper">
        <mat-sidenav #sidenav [mode]="'side'" class="content-wrapper_leftside">
            <div class="content-wrapper_leftside-button">
                <div class="content-wrapper_leftside-button-inner">
                    <mat-icon>home</mat-icon>
                    <span class="name">Home</span>
                </div>
            </div>
            <div class="content-wrapper_leftside-button">
                <div class="content-wrapper_leftside-button-inner">
                    <mat-icon>check_circle_outline</mat-icon>
                    <span class="name">My notes</span>
                </div>
            </div>
        </mat-sidenav>
        
        <mat-sidenav-content class="content-wrapper_rightside">
            <div class="content-wrapper_rightside-header">
                <span class="content-wrapper_rightside-header_date">{{dateValue | date: 'EEEE, MMMM d'}}</span>
                <span class="content-wrapper_rightside-header_greeeting">{{greeting}}, User</span>
                <div class="content-wrapper_rightside-header_counter">
                    <div class="content-wrapper_rightside-header_counter-select">
                        <mat-select [(value)]="selectMode">
                            <mat-option value="week">My week</mat-option>
                            <mat-option value="month">My month</mat-option>
                        </mat-select>
                    </div>
                    <div class="content-wrapper_rightside-header_counter-border"></div>
                    <div class="content-wrapper_rightside-header_counter-notes">
                        <mat-icon>check</mat-icon>
                        <span>{{notesCount}} notes completed</span>
                    </div>
                </div>
            </div>
            <div class="content-wrapper_rightside-grid">
                <div class="content-wrapper_rightside-grid_notes">
                    <div class="content-wrapper_rightside-grid_notes-header">My notes</div>
                    <div class="content-wrapper_rightside-grid_notes-categories">
                        <span [ngClass]="{'active': currentCategory === 'Upcoming'}" (click)="currentCategory = 'Upcoming'">Upcoming</span>
                        <span [ngClass]="{'active': currentCategory === 'Overdue'}" (click)="currentCategory = 'Overdue'">Overdue</span>
                        <span [ngClass]="{'active': currentCategory === 'Completed'}" (click)="currentCategory = 'Completed'">Completed</span>
                    </div>
                    <div class="content-wrapper_rightside-grid_notes-items">
                        <ng-container *ngIf="isLoading; else elseTemplate">
                            Loading...
                        </ng-container>
                        <ng-template #elseTemplate>
                            @for (note of allNotes; track $index) {
                                @if (!note.completed && currentCategory === 'Upcoming') {
                                    <app-note 
                                        [note]="note"
                                        [allTags]="allTags"
                                        (setNoteCompleted)="setNoteCompleted($event)"
                                        (deleteNote)="deleteNote($event)"
                                        (editNote)="editNote($event)"
                                    ></app-note>
                                } @else if (note.completed && currentCategory === 'Completed') {
                                    <app-note 
                                        [note]="note"
                                        [allTags]="allTags"
                                        (deleteNote)="deleteNote($event)"
                                        (editNote)="editNote($event)"
                                    ></app-note>
                                } @else if (isOverdue(note) && !note.completed && currentCategory === 'Overdue') {
                                    <app-note 
                                        [note]="note"
                                        [allTags]="allTags"
                                        (deleteNote)="deleteNote($event)"
                                        (editNote)="editNote($event)"
                                    ></app-note>
                                }
                            }
                        </ng-template>
                    </div>
                    <div (click)="openCreateNoteDialog()" class="content-wrapper_rightside-grid_notes-add">
                        <mat-icon>add</mat-icon>
                        <span>Create new note</span>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>