<div class="note" #noteElement>
    <div class="note-title">
        <span class="note-title-text">{{note.title}}</span>
        <div class="note-title_buttons">
            <mat-icon [matTooltip]="'Edit note'" (click)="onEditNote(note)" class="note-title_buttons-icon">edit</mat-icon>
            <mat-icon [matTooltip]="'Delete note'" (click)="onDeleteNote(note.id)" class="note-title_buttons-icon">delete</mat-icon>
        </div>
    </div>
    <div class="note-description">
        <span class="note-description-text">{{note.description}}</span>
    </div>
    <div class="note-tags">
        @for (tag of note.tags; track $index) {
            <span [style.background-color]="tag.color || '#e0e0e0'" class="note-tags-text">#{{tag.name}}</span>
        }
    </div>
</div>